name: Publish package to pub.dev

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Publish
        uses: subosito/flutter-action@v2.8.0
        with:
          channel: "stable"
      - name: Install dependencies
        run: flutter pub get
      - name: Run tests
        run: flutter test
      - name: Create pub credentials
        shell: bash
        env:
          PUB_DEV_CREDENTIAL_JSON: ${{ secrets.PUB_DEV_CREDENTIAL_JSON }}
        run: mkdir -p $XDG_CONFIG_HOME/dart && echo '${{ secrets.PUB_CREDENTIALS }}' > "$XDG_CONFIG_HOME/dart/pub-credentials.json"
      - name: Check publishing warnings
        run: flutter pub publish --dry-run
      - name: Publish to pub.dev
        run: flutter pub publish
